---
const {title} = Astro.props;
---

<div class="flex items-center mb-4 mt-12">
    <div class="w-8 h-px bg-blue-500 mr-4"></div>
    <h2 class="text-sm uppercase tracking-widest text-neutral-500 font-normal">{title}</h2>
</div>